name: Getting Started

on:
  push:
    paths:
      - "**.py"
      - "**.yml"
      - "**.yaml"
  workflow_dispatch:

jobs:
  getting_started:
    strategy:
      fail-fast: false
      matrix:
        include:
          - env-prefix: PY38_BC
            python-version: 3.8

          - env-prefix: PY311_BC
            python-version: 3.11

          - env-prefix: PY312_BC
            python-version: 3.12

    runs-on: ubuntu-latest
    timeout-minutes: 10

    env:
      SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
      SNOWFLAKE_USER: snowddl
      SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
      SNOWFLAKE_ENV_PREFIX: ${{ matrix.env-prefix }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Setup CMake
        uses: lukka/get-cmake@latest

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install
        run: pip install -e .

      - name: "Cleanup"
        run: snowddl -c sample01_01 --apply-unsafe destroy

      - name: "Apply sample01_01, run 1"
        run: snowddl -c sample01_01 --apply-unsafe apply

      - name: "Apply sample01_01, run 2"
        run: snowddl -c sample01_01 --apply-unsafe apply

      - name: "Apply sample01_02, run 1"
        run: snowddl -c sample01_02 --apply-unsafe apply

      - name: "Apply sample01_02, run 2"
        run: snowddl -c sample01_02 --apply-unsafe apply

      - name: "Apply sample02_01"
        run: snowddl -c sample02_01 --apply-unsafe --apply-masking-policy --apply-row-access-policy apply

      - name: "Apply singledb"
        run: snowddl-singledb -c sample02_01 --config-db=TEST_DB --target-db=ANOTHER_DB --apply-unsafe --apply-masking-policy --apply-row-access-policy apply
