name: Pytest

on:
  push:
    paths:
      - "**.py"
      - "**.yml"
      - "**.yaml"
  workflow_dispatch:

jobs:
  getting_started:
    strategy:
      fail-fast: false
      matrix:
        include:
          - account-ident: gg06746.eu-west-2.aws

    runs-on: ubuntu-latest
    timeout-minutes: 10

    env:
      SNOWFLAKE_ACCOUNT: ${{ matrix.account-ident }}
      SNOWFLAKE_USER: snowddl_test
      SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
      SNOWFLAKE_ENV_PREFIX: PYTEST

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install
        run: pip install -e .[test]

      - name: Run pytest
        run: test/run_test.sh
